{% for stat in stats if stat.hasWeeklyLeaderboard() %}
	{% include 'single_leaderboard.twig' %}
{% endfor %}
{% for stat in stats if stat.hasLeaderboard() and not stat.hasWeeklyLeaderboard() %}
	{% include 'single_leaderboard.twig' %}
{% endfor %}

</div>
<script>
function onPageLoad() {
	highlightAgent = "{{ agent.name }}";

	$("span.leaderboard-link[data-when='this-week']").addClass("active");
	
	$("span.leaderboard-link").click(function() {
		stat = $(this).attr("data-stat");
		$(".leaderboard." + stat + " table tbody").empty();
		loadLeaderboard(stat, $(this).attr("data-when"));	
	});


	function loadLeaderboard(stat, when) {
		$("span.leaderboard-link[data-stat='" + stat + "']").removeClass("active");
		$("span.leaderboard-link[data-stat='" + stat + "'][data-when='" + when + "']").addClass("active");

		$(".leaderboard." + stat + " table").after($("<div/>").addClass("loading 110"));
		$.ajax({url: "{{ app.request.basepath }}/api/{{ agent.token }}/" + stat + "/leaderboard/" + when,
			dataType: "json",
			statusCode: {
				500: function() {
					alert("There was an error retrieving the leaderboard for " + stat + ".");
				}
			},
			success: function(data) {
				$(".leaderboard." + stat + " table + div.loading").remove();
				$.each(data, function() {
					updated = (this.age == 0) ? "Today" :
							(this.age == 1) ? "Yesterday" : this.age + " days ago";
					row =  "<tr><td title=\"rank\">" + this.rank + "</td>";
                                        if ($(".leaderboard." + stat).data("has-weekly") == 1 && this.hasOwnProperty("change") && this.change != 0)   {
                                            row += "<td><div title=\"Was ranked #" + (this.rank + this.change) + " last week\" class=\"rank-diff\"><div class=\"arrow " + ((this.change > 0) ? "up" : "down") + "\" />" + Math.abs(this.change) + "</div></td>";
                                        }
                                        else {
                                            row += "<td/>";
                                        }
                                        row += "<td title=\"agent\" class=\"" + (this.faction == "R" ? "resistance-agent" : "enlightened-agent") + "\">" + this.agent + "</td>";
                                        row += "<td title=\"value\">" + this.value + "</td>";
                                        row += "<td title=\"updated\">" + updated + "</td></tr>";
	
					if ($(".leaderboard." + stat + " table tbody tr").length == 0) {
						$(".leaderboard." + stat + " table tbody").append(row);
					}
					else {
						$(".leaderboard." + stat + " table tbody tr:last").after(row);
					}
	
					if (highlightAgent == this.agent) {
						$(".leaderboard." + stat + " table tbody tr:last").addClass("highlight");
	                                }
				});
				$(".leaderboard." + stat + " table").tablesorter({
                                    textExtraction: function(node) {
                                        if (node.title == "rank" || node.title == "value") {
                                            return node.innerHTML.replace(/\D/g, '');
                                        }
                                        else {
                                            return node.innerHTML;
                                        }
                                    }
                                });
			}
		});
	}

{% for stat in stats %}
	{% if stat.hasWeeklyLeaderboard() %}
	loadLeaderboard("{{ stat.stat }}", "this-week");
	{% else %}
	loadLeaderboard("{{ stat.stat }}", "alltime");
	{% endif %}
{% endfor %}
}
</script>
