<div class="quick-links">
{% for stat in stats %}
	{% if stat.hasLeaderboard() %}
	<a href="#{{ stat.stat }}">{{ stat.name }}</a> {% if not loop.last %} &nbsp;|&nbsp; {% endif %}
	{% endif %}
{% endfor %}
</div>

{% for stat in stats if stat.hasLeaderboard() %}
	<div class="leaderboard {{ stat.stat }}">
		<a name="{{ stat.stat }}">
			<h3>{{ stat.name }}</h3>
		</a>
		<div class="leaderboard-selector">
{% if stat.hasWeeklyLeaderboard() %}
			<span class="leaderboard-link {{ stat.stat }} link" data-stat="{{ stat.stat }}" data-when="this-week">This week</span>
			&nbsp;|&nbsp;
			<span class="leaderboard-link {{ stat.stat }} link" data-stat="{{ stat.stat }}" data-when="last-week">Last week</span>
			&nbsp;|&nbsp;
{% endif %}
{% if stat.hasAllTimeLeaderboard() %}
			<span class="leaderboard-link {{ stat.stat }} link" data-stat="{{ stat.stat }}" data-when="alltime">All-time</span>
{% endif %}

		</div>
		<table class="tablesorter">
			<thead>
			<tr>
				<th>Rank</th>
				<th>Agent</th>
				<th>Amount</th>
				<th>Updated</th>
			</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
{% endfor %}
</div>
<script>
function onPageLoad() {
	highlightAgent = "{{ agent.name }}";

	$("span.leaderboard-link[data-when='this-week']").addClass("active");
	
	$("span.leaderboard-link").click(function() {
		stat = $(this).attr("data-stat");
		$(".leaderboard." + stat + " table tbody").empty();
		loadLeaderboard(stat, $(this).attr("data-when"));	
	});


	function loadLeaderboard(stat, when) {
		$("span.leaderboard-link[data-stat='" + stat + "']").removeClass("active");
		$("span.leaderboard-link[data-stat='" + stat + "'][data-when='" + when + "']").addClass("active");

		$(".leaderboard." + stat + " table").after($("<div/>").addClass("loading 110"));
		$.ajax({url: StatTracker.baseUrl + "api/{{ agent.auth_code }}/" + stat + "/leaderboard/" + when,
			dataType: "json",
			statusCode: {
				500: function() {
					alert("There was an error retrieving the leaderboard for " + stat + ".");
				}
			},
			success: function(data) {
				$(".leaderboard." + stat + " table + div.loading").remove();
				$.each(data, function() {
					updated = (this.age == 0) ? "Today" :
							(this.age == 1) ? "Yesterday" : this.age + " days ago";
					row = "<tr><td>" + this.rank + "</td><td>" + this.agent + "</td><td>" + numeral(this.value).format("0,0") + "</td><td>" + updated + "</td></tr>";
	
					if ($(".leaderboard." + stat + " table tbody tr").length == 0) {
						$(".leaderboard." + stat + " table tbody").append(row);
					}
					else {
						$(".leaderboard." + stat + " table tbody tr:last").after(row);
					}
	
					if (highlightAgent == this.agent) {
						$(".leaderboard." + stat + " table tbody tr:last").addClass("highlight");
	                                }
				});
				$(".leaderboard." + stat + " table").tablesorter();
			}
		});
	}

{% for stat in stats %}
	{% if stat.hasWeeklyLeaderboard() %}
	loadLeaderboard("{{ stat.stat }}", "this-week");
	{% else %}
	loadLeaderboard("{{ stat.stat }}", "alltime");
	{% endif %}
{% endfor %}
}
</script>
