<div id="message" />
<div id="badges" />
<form method="post" action="./my-stats/submit" id="my-stats">
	<div id="agent-info">
		<div class="avatar level-icon-75 {{ faction_class }} l{{ agent.level }}"/>
		<div class="about">
			<div class="name {{ faction_class }}">{{ agent.name }}</div>
			<div class="level">LVL <span>{{ agent.level }}</span></div>
			<div class="ap"><input type="number" name="ap" value="{{ attribute(agent.stats, 'ap') }}" min="{{ attribute(agent.stats, "ap") }}"/> AP</div>
		</div>
		<div class="badges" />
	</div>
	<table>
{% for stat in stats if stat.stat != "ap" %}
	{% set title = "" %}
	{% if stat.stat == "unique_visits" %}
		{% set title = "Discovery" %}
	{% elseif stat.stat == "hacks" %}
		{% set title = "Building" %}
	{% elseif stat.stat == "res_destroyed" %}
		{% set title = "Combat" %}
	{% elseif stat.stat == "distance_walked" %}
		{% set title = "Health" %}
	{% elseif stat.stat == "oldest_portal" %}
		{% set title = "Defense" %}
	{% endif %}

{% if title != "" %}
		<tr>
			<th colspan="2">{{ title }}</th>
		</tr>
	{% endif %}
		<tr>
			<td>{{ stat.name }}</td>
			<td><input type="number" name="{{ stat.stat }}" value="{{ attribute(agent.stats, stat.stat) }}" /></td>
		</tr>
{% endfor %}
		<tr>
			<td colspan="2"><input type="submit" value="Submit Statistics"/></td>
		</tr>
	</table>
</form>
<script>
function onPageLoad() {
	if (StatTracker.message == "" || StatTracker.message == null)
		$("#message").hide();
	else
		$("#message").html(StatTracker.message).show();

	$.ajax({url: StatTracker.baseUrl + "data/badges",
		dataType: "json",
		statusCode: {
			500 : function() {
				alert("There was an error retrieving your badges.");
			}
		},
		success: function(data) {
			for (badge in data) {
				if (badge == "level") continue;
				name = badge.replace("_", " ");
				name = name.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
				key = badge.replace("_", "");
				level = data[badge];
				name += " (" + level.charAt(0).toUpperCase() + level.substr(1) + ")";
				url = StatTracker.baseUrl + "resources/images/" + key + "_" + level + ".png";
				img = $(document.createElement("img")).attr("src", url)
				                                      .attr("alt", name)
				                                      .attr("title", name)
                                                                      .addClass("small-badge-icon");
				$(".badges").append(img);
			}
		}
	});
}

$("form#my-stats").submit(function() {
	$.ajax({
		type: "POST",
		url: StatTracker.baseUrl + "my-stats/submit",
		data: $("form#my-stats").serialize(),
		dataType: "json",
		success: function(data) {
			console.log(data);
			if (!data.error) {
				$("#message").html(data.message).show();
				window.scrollTo(0,0);
			}
			else {
				alert(data.message);
			}
		}
	});

	return false;
});
</script>
