	<div class="leaderboard {{ stat.stat }}" data-has-weekly="{{ stat.hasWeeklyLeaderboard() == 1 }}">
		<a name="{{ stat.stat }}">
			<h3>{{ stat.name }}</h3>
		</a>
		<div class="leaderboard-selector">
{% if stat.hasWeeklyLeaderboard() %}
			<span class="leaderboard-link {{ stat.stat }} link" data-stat="{{ stat.stat }}" data-when="this-week">This week</span>
			&nbsp;|&nbsp;
			<span class="leaderboard-link {{ stat.stat }} link" data-stat="{{ stat.stat }}" data-when="last-week">Last week</span>
			&nbsp;|&nbsp;
{% endif %}
{% if stat.hasAllTimeLeaderboard() %}
			<span class="leaderboard-link {{ stat.stat }} link" data-stat="{{ stat.stat }}" data-when="alltime">All-time</span>
{% endif %}

		</div>
		<table class="tablesorter">
			<thead>
			<tr>
				<th colspan="2">Rank</th>
				<th>Agent</th>
				<th>Amount</th>
				<th>Updated</th>
			</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>

