		<div class="item prediction {{ stat.stat }}">
			<h3>{{ stat.name }}</h3>
			<div class="summary">
				<div class="current-badge">
					<div class="badge-display">
						<div class="badge-image badge-icon-75" />
					</div>
				</div>
				<div class="next-badge">
					<div class="badge-display">
						<div class="badge-image badge-icon-75 progress-overlay" />
						<p class="percent-complete">
							<span />
						</p>
					</div>
				</div>
                            <p class="badge-remaining">
                                You have <span class='amount'/> <span class='unit'/> remaining for <span class='badge-level' /> <span class='badge-name'/>.
                            </p>
                            <p class="badge-prediction">
                                At your average rate of <span class='amount'/> per day, that should take <span class='days-remaining'/> days.
                            </p>
                            <p class="rate">
                                Your average rate is <span class='amount'/> <span class='unit'/> per day.
                            </p>
			</div>
			<div class="graph-selector">
				<span class="graph-link {{ stat.stat }} link" data-stat="{{ stat.stat }}" data-what="graph" data-when="all-time">Past 30 days</span>
				&nbsp;|&nbsp;
				<span class="graph-link {{ stat.stat }} link" data-stat="{{ stat.stat }}" data-what="trend" data-when="weekly">This week</span>
				&nbsp;|&nbsp;
				<span class="graph-link {{ stat.stat }} link" data-stat="{{ stat.stat }}" data-what="trend" data-when="last-week">Last week</span>
	
			</div>
			<div id="graph-{{ stat.stat }}">
			</div>
                        <div class="loading" />
		</div>

