<div id="message" />	

<form method="post" action="./api/{{ agent.auth_code }}/submit-stats" id="submit-stats">
	<div id="agent-info">
		<div class="avatar level-icon-75 {{ faction_class }} l{{ agent.level }}"/>
		<div class="about">
			<div class="name {{ faction_class }}">{{ agent.name }}</div>
			<div class="level">LVL <span>{{ agent.level }}</span></div>
			<div class="ap">
				<span class="current">{{ attribute(agent.stats, 'ap')|number_format }}</span>
				<input type="number" name="ap" value="{{ attribute(agent.stats, 'ap') }}" data-previous-value="{{ attribute(agent.stats, 'ap') }}" />
				 AP
			</div>
		</div>
	</div>
	
	<div id="submit-actions">
		<input type="file" name="screenshot" class="button upload-screenshot" />
		<div class="fakeupload">
			<input type="button" value = "Upload a Screenshot" />
		</div>
		<input type="button" name="manual-entry" value="Enter Stats Manually" />
		{% if not(attribute(constants, "email_submission") == "EMAIL_SUBMISSION") %}
		<div class="email">
			You can also email a screenshot of your profile to<br/>{{ attribute(constants, "email_submission") }}
		</div>
		{% endif %}
	</div>
	
		<table id="stat-entry">
	{% for stat in stats if stat.stat != "ap" %}
		{% set title = "" %}
		{% if stat.stat == "unique_visits" %}
			{% set title = "Discovery" %}
		{% elseif stat.stat == "hacks" %}
			{% set title = "Building" %}
		{% elseif stat.stat == "res_destroyed" %}
			{% set title = "Combat" %}
		{% elseif stat.stat == "distance_walked" %}
			{% set title = "Health" %}
		{% elseif stat.stat == "oldest_portal" %}
			{% set title = "Defense" %}
		{% elseif stat.stat == "unique_missions" %}
			{% set title = "Missions" %}
	
		{% endif %}
	
	{% if title != "" %}
			<tr>
				<th colspan="2">{{ title }}</th>
			</tr>
		{% endif %}
			<tr>
				<td>{{ stat.name }}</td>
				<td><input type="number" name="{{ stat.stat }}" value="{% if attribute(agent.stats, stat.stat) is defined %}{{ attribute(agent.stats, stat.stat) }}{% endif %}" data-previous-value="{% if attribute(agent.stats, stat.stat) is defined %}{{ attribute(agent.stats, stat.stat) }}{% endif %}" /></td>
			</tr>
	{% endfor %}
			<tr>
				<td colspan="2"><input type="submit" value="Submit Stats"/></td>
			</tr>
		</table>
	</form>

<script>
function onPageLoad() {
	$("#message").hide();
	$("input[name='ap']").hide();
	$("table#stat-entry").hide();

	$("input[name='screenshot']").on("change", function() {
		var file = $("input[name='screenshot']").prop("files")[0];
		var data = new FormData();
		data.append("screenshot", file);
		$("#agent-info").hide();
		$("#message").show().html("Processing screenshot...").after("<div class='loading' />");
		$("#submit-actions").hide();
		$.ajax({
			type: "POST",
			url: StatTracker.baseUrl + "api/{{ agent.auth_code }}/ocr",
			data: data,
			dataType: "json",
			cache: false,
			processData: false,
			contentType: false,
			success: function(response) {
				$("#message").html("Your screenshot has been processed.<p/>Please review your stats and click the \"Submit Stats\" button to submit.");
				$("#agent-info").show();
				$("#agent-info .ap .current").hide();
				$("#agent-info .ap input").show();
				$("table#stat-entry").show();

				for (stat in response) {
					val = response[stat];
					$("input[type='number'][name='"+ stat +"']").val(val);
					if (val == null || val == "") {
						$("input[type='number'][name='"+ stat +"']").addClass("error");
						$("#message").html("Some stats could not be read from your screenshot. They have been marked below for review.<p/>Click the \"Submit Stats\" button to submit.");
					}
					else if ($("input[type='number'][name='"+ stat +"']").data("previous-value") > val) {
						$("input[type='number'][name='"+ stat +"']").addClass("error");
						$("#message").html("Some stats appear to have lower values than your previous entry. They have been marked below for review.<p/>Click the \"Submit Stats\" button to submit.");
					}
					else if ($("input[type='number'][name='"+ stat +"']").data("previous-value") < val) {
						$("input[type='number'][name='"+ stat +"']").addClass("increase");
					}
				}
			},
			error: function(response) {
				console.log(response);
				$("#message").html("An error occured while processing your screenshot.");
				$("form#ocr").show();
			},
			complete: function() {
				$(".loading").hide();
			}
		});
	});

	$("input[name='manual-entry']").on("click", function() {
		$("#submit-actions").hide();
		$("#agent-info .ap .current").hide();
		$("#agent-info .ap input").show();
		$("table#stat-entry").show();
	});

	$("form#submit-stats").submit(function() {
		$("#message").hide().before("<div class='loading' />")
		window.scrollTo(0,0);
		$.ajax({
			type: "POST",
			url: StatTracker.baseUrl + "api/{{ agent.auth_code }}/submit",
			data: $("form#submit-stats").serialize(),
			dataType: "json",
			success: function(data) {
				$(".loading").hide();
				if (!data.error) {
					$("#message").show().html(data.message).show();
					window.scrollTo(0,0);
				}
				else {
					alert(data.message);
				}
			}
		});
	
		return false;
	});
}
</script>
