<div id="message" />	

<form method="post" action="./api/{{ agent.token }}/submit-stats" id="submit-stats">
	<div id="loading" class="loading"/>
	<div id="agent-info">
		<div class="avatar level-icon-75 {{ faction_class }} l{{ agent.level }}"/>
		<div class="about">
			<div class="name {{ faction_class }}">{{ agent.name }}</div>
			<div class="level">LVL <span>{{ agent.level }}</span></div>
			<div class="ap">
				<span class="current">{{ attribute(agent.stats, 'ap')|number_format }}</span>
				<input type="number" name="ap" value="{{ attribute(agent.stats, 'ap') is defined ? attribute(agent.stats, 'ap') : 0 }}" data-previous-value="{{ attribute(agent.stats, 'ap') is defined ? attribute(agent.stats, 'ap') : 0 }}" />
				 AP
			</div>
		</div>
	</div>
	
	<div id="submit-actions">
		<input type="file" name="screenshot" class="button upload-screenshot" />
		<div class="fakeupload">
			<input type="button" value = "Upload a Screenshot" />
		</div>
		<input type="button" name="manual-entry" value="Enter Stats Manually" />
		{% if not(attribute(constants, "email_submission") == null) %}
		<div class="email">
			You can also email a screenshot of your profile to<br/>{{ attribute(constants, "email_submission") }}
		</div>
		{% endif %}
	</div>

	<table id="stat-entry">
		<tr>
			<td><label for="date">Date</label></td>
			<td><input type="text" name="date" value="{{ attribute(parameters, "date") }}" /></td>
		</tr>
	{% set last_title = "" %}
	{% for stat in stats if stat.stat != "ap" %}
		{% set title = stat.group %}	

		{% if title != last_title and title != "" %}
		<tr>
			<th colspan="2">{{ title }}</th>
		</tr>
			{% set last_title = title %}
		{% endif %}
		<tr>
			<td>{{ stat.name }}</td>
			<td>
			{% if stat.stat == "innovator" %}
			<select name="{{ stat.stat }}">
				{% for amount_required, badge in stat.badges %}
				<option value="{{ amount_required }}" {% if attribute(agent.stats, stat.stat) is defined and amount_required == attribute(agent.stats, stat.stat) %}selected{% endif %}>{{ badge }}</option>
				{% endfor %}
			</select>
			{% else %}
			<input type="number" name="{{ stat.stat }}" value="{% if attribute(agent.stats, stat.stat) is defined %}{{ attribute(agent.stats, stat.stat) }}{% endif %}" data-previous-value="{% if attribute(agent.stats, stat.stat) is defined %}{{ attribute(agent.stats, stat.stat) }}{% endif %}" />
			{% endif %}
			</td>
		</tr>
	{% endfor %}
		<tr>
			<td colspan="2"><input type="submit" value="Submit Stats"/></td>
		</tr>
	</table>
</form>

<script>
function onPageLoad() {
	$("#message").hide();
	$("#loading").hide();
	$("input[name='ap']").hide();
	$("table#stat-entry").hide();
	$("input[name='date']").datepicker({
		constrainInput: true,
		dateFormat: "yy-mm-dd",
		firstDay: 1,
		hideIfNoPrevNext: true,
		maxDate: 0
		
	});

	window.onpopstate = function(event) {
		console.log(event);
		$("#message").hide();
		if (event.state.show == "actions") {
			showActions();
		}
		else if (event.state.show == "manual") {
			showStats();
		}
		else if (event.state.show == "upload") {
			showStats();
		}
	}

	history.pushState({ show: "actions" }, "", "#actions");

	$("input[name='date']").on("change", function() {
		if (window.location.hash === "#manual") {
			$("#loading").show();
			$("table#stat-entry").hide();
			$("#agent-info").hide();
			
			$.get("{{ app.request.basepath }}/api/{{ agent.token }}/profile/" + $(this).val())
			 .done(function(data, status, jqXHR) {
				console.log(data);
				for (stat in data.stats) {
					val = data.stats[stat];
					$("input[type='number'][name='"+ stat +"']").val(val);
				}
			 })
			 .error(function() {
				$("input[type='number']").val(0);
			 })
			 .always(function() {
				$("input[type='number']").removeClass("warning error increase");
				$("#loading").hide();
				$("table#stat-entry").show();
				$("#agent-info").show();
				$("#agent-info .ap .current").hide();
				$("#agent-info .ap input").show();
			 });
		}
	});

	function showActions() {
		$("table#stat-entry").hide();
		$("#agent-info .ap input").hide();
		$("#agent-info .ap .current").show();
                var fileUpload = $("input[type='file'][name='screenshot']");
                fileUpload.replaceWith( fileUpload = fileUpload.clone( true ) );
		$("#submit-actions").show();
	}

	function showStats() {
		$("#submit-actions").hide();
		$("#agent-info .ap .current").hide();
		$("#agent-info .ap input").show();
		$("table#stat-entry").show();
	};

	$("input[name='screenshot']").on("change", function() {
		var file = $("input[name='screenshot']").prop("files")[0];
		var data = new FormData();
		data.append("screenshot", file);
		$("#agent-info").hide();
		$("#loading").show();
		$("#message").show().html("Uploading screenshot...");
		$("#submit-actions").hide();
		$.ajax({
			type: "POST",
			url: "{{ app.request.basepath }}/api/{{ agent.token }}/ocr",
			data: data,
			cache: false,
			processData: false,
			contentType: false,
			xhrFields: {
				onprogress: function(e) {
					var json = parseOCRResponse(e.currentTarget.response);
					if (json.hasOwnProperty("error")) {
						$("#message").show().html("An error occurred while processing your screenshot: " + json.error + ".<p/>Please try again or submit your stats manually.");
					}
					else if(json.hasOwnProperty("status")) {
						$("#message").show().html(json.status);
					}
				}
			},
			success: function(response) {
				var json = parseOCRResponse(response);
				if (json.hasOwnProperty("error")) {
					$("#message").html(json.error);
					showActions();
					return;
				}
				else if (!json.hasOwnProperty("stats")) {
					$("#message").html("Your screenshot failed to process. Please try again later.<p/><p/>Transaction " + json.session);
					showActions();
					return;
				}
				else {
					$("#message").html("Your screenshot has been processed.<p/><p/>Click the \"Submit Stats\" button to submit.");
				}

				history.pushState({ show: "upload" }, "", "#upload");
				showStats();

				for (stat in json.stats) {
					val = json.stats[stat];
					$("input[type='number'][name='"+ stat +"']").val(val);
					if (val == null || val === "") {
						$("input[type='number'][name='"+ stat +"']").addClass("error");
						$("#message").html("Some stats could not be read from your screenshot. They have been marked below for review.<p/>Click the \"Submit Stats\" button to submit.");
					}
					else if ($("input[type='number'][name='"+ stat +"']").data("previous-value") > val) {
						$("input[type='number'][name='"+ stat +"']").addClass("warning");
						$("#message").html("Some stats appear to have lower values than your previous entry. They have been marked below for review.<p/>Click the \"Submit Stats\" button to submit.");
					}
					else if ($("input[type='number'][name='"+ stat +"']").data("previous-value") < val) {
						$("input[type='number'][name='"+ stat +"']").addClass("increase");
					}
				}
			},
			error: function(response) {
				$("#message").html("An error occurred while processing your screenshot.");
				showActions();
			},
			complete: function() {
				$("#agent-info").show();
				$(".loading").hide();
			}
		});
	});

	function parseOCRResponse(response) {
		var split = response.split("\n\n");
		var jsonStr = split[split.length - 1];
		if (jsonStr[jsonStr.length - 1] === "\n") {
			return JSON.parse(jsonStr.trim());
		}
		else if(split.length > 1) {
			return JSON.parse(split[split.length - 2].trim());
		}
		else {
			return {};
		}
	};

	$("input[name='manual-entry']").on("click", function() { 
		history.pushState({show: "manual"}, "", "#manual");
		showStats(); 
	});

	$("form#submit-stats").submit(function() {
		$("#message").hide().before("<div class='loading' />")
		window.scrollTo(0,0);
		$.ajax({
			type: "POST",
			url: "{{ app.request.basepath }}/api/{{ agent.token }}/submit",
			data: $("form#submit-stats").serialize(),
			dataType: "json",
			success: function(data) {
				$(".loading").hide();
				if (!data.error) {
					$("#message").show().html(data.message).show();
					window.scrollTo(0,0);
				}
				else {
					alert(data.message);
				}
			}
		});
	
		return false;
	});
}
</script>
